body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

#gameCanvas {
    position: relative;
    width: 600px;
    height: 200px;
    background-color: #eee;
}

#character {
    width: 30px;
    height: 30px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.obstacle {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0;
}
